/* GENERAL */
html {
    box-sizing: border-box;
    background-color: #34495e;
}
*, *::before, *::after {
    box-sizing: inherit;
}

/* MAP STYLE */
#map {
    width: 100%;
    height: 100vh;
}

.leaflet-control-container 
{
    visibility: hidden;
}

/* HEADER */
h1 {
    color: #f4f7f7;
    border: 2px solid #f4f7f7;
    border-radius: 2px;
    padding: 10px 0px 10px 5px;
    margin-top: 0px;
    margin-bottom: 5px;
}

/* INFO PANE */
#info-pane {
    border: 5px solid #5da0a2;
    background-color: #aacfd0;
    border-radius: 0 25px 25px 25px;
    width: 25vw;
    position: fixed;
    top: 80px;
    left: 13px;
}

.mag-dist {
    text-align: center;
    text-decoration: underline;
}

.mag-court {
    text-align: center;
    text-decoration: underline;
}

.sher-info ul li {
    list-style: none;
}

/* FORM */
.geosearch {
    padding-top: 15px;
    padding-left: 15px;
    /* border: 3px solid #5da0a2;
    border-radius: 0 25px 25px 25px;
    margin: 0px; */
}
input {
    padding: 5px 5px;
    border: 3px solid #5da0a2;
    border-radius: 0px 25px 25px 25px;
}

form.geosearch button {
    width: 10%;
    padding-top: 18px;
    padding-bottom: 8px;
    border: 3px solid #5da0a2;
    border-radius: 0px 25px 25px 25px;
}





/* pallate {
color: #f4f7f7;
color: #aacfd0;
color: #5da0a2;
color: #34495e;} */