/* GENERAL */
html {
    box-sizing: border-box;
    background-color: #34495e;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

/* MAP STYLE */
#map {
    width: 100%;
    height: 100vh;
}

/* ZOOM BUTTONS */
.leaflet-control-zoom.leaflet-bar.leaflet-control {
    visibility: hidden;
}

/* HEADER */
h1 {
    color: #f4f7f7;
    border: 2px solid #f4f7f7;
    border-radius: 2px;
    padding: 10px 0px 10px 5px;
    margin-top: 0px;
    margin-bottom: 5px;
}







/* pallate {
color: #f4f7f7;
color: #aacfd0;
color: #5da0a2;
color: #34495e;} */